header {
  height: 60px;
  width: 100vw;
  margin-bottom: 40px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.95);
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba($color: #fff, $alpha: 0.7);
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    li {
      margin-right: 1rem;
      a {
        padding: 8px;
        border-radius: 4px 4px 0 0;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid transparent;
        font-weight: 900;
        &:hover {
          border-bottom: 2px solid transparent;
          border-bottom: 2px solid violet;
        }
      }
    }
  }
}
