.productCart {
	width: 300px;
	max-width: 100%;
	border: 1px solid #e1e1e1;
	border-radius: 6px;
	box-shadow: 0 0 6px rgba(0, 0, 255, 0.5);
	margin: 0 12px 24px;
	h3 {
		font-size: 1.5rem;
		margin: 0;
		padding: 12px;
		color: violet;
	}
	div {
		padding-bottom: 12px;
	}

	img {
		padding: 12px;
	}
}
