.footer {
	background-color: #000;
	text-align: center;
	position: fixed;
	bottom: 0;
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #fff;
	font-size: 20px;
}
