* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f5f5f5;
}

ul,
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 0.3s ease-in-out;
	padding: 12px 24px;
	border-radius: 6px;
	color: #f5f5f5;
	background-color: blue;
}

button:hover {
	border: 1px solid #ccc;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
