* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: #eee;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 12px 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 12px;
}

button:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}